URxvt*scrollBar: false
URxvt*internalBorder:	8
URxvt*font: xft:DejaVu Sans Mono:pixelsize=12
URxvt*boldFont: xft:DejaVu Sans Mono:bold:pixelsize=12
utohint:   0
Xft.lcdfilter:  lcddefault
Xft.hintstyle:  hintfull
Xft.hinting:    true
Xft.antialias:  true
Xft.rgba:       rgb

*.foreground:   #98d1ce
*.background:   #0a0f14
*.cursorColor:  #98d1ce

! black
*.color0:       #0a0f14
*.color8:       #98D1CE

! red
*.color1:       #c33027
*.color9:       #d26939

! green
*.color2:       #26a98b
*.color10:      #86E62A

! yellow
*.color3:       #edb54b
*.color11:      #245361

! blue
*.color4:       #195465
*.color12:      #12BFFF

! magenta
*.color5:       #4e5165
*.color13:      #888ba5

! cyan
*.color6:       #33859d
*.color14:      #599caa

! white
*.color7:       #98d1ce
*.color15:      #d3ebe9
